/* Misc */
.text-2xl {
	font-size: 1.5rem;
}

.text-4xl {
	font-size: 2rem;
}

.cursor-pointer {
	cursor: pointer;
}

/* Address Section Styles */
#address {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

#address select,
#address input[type="number"] {
	padding: 0.75rem;
	font-size: 1rem;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	outline: none;
}

#address select:focus,
#address input[type="number"]:focus {
	border-color: #007bff;
	box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

#address select option {
	text-transform: capitalize;
}

#address input[type="number"] {
	max-width: 120px; /* Ensures the input for ward number doesn't take excessive space */
}

/* Disabled State Styling */
#address select:disabled,
#address input:disabled {
	background-color: #f2f2f2;
	color: #999999;
	cursor: not-allowed;
}

/* Responsive Adjustments */
@media (min-width: 768px) {
	#address {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1.5rem;
	}

	#address select,
	#address input {
		flex: 1;
		max-width: 200px; /* Adjust width for larger screens */
	}
}
